<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/command.css" />
		<style type="text/css">
			.list_info>.info_item{
				width: 100%;
				line-height: 2rem;
				text-align: center;
				border-top:2px solid transparent;
				border-bottom: 2px solid rosybrown;
				cursor: pointer;
				transition: all 0.2s;
			}
			
			.list_info>.info_item:hover{
				background-color: darkorange;
				color: white;
				font-weight: bold;
			}
			
		</style>
	</head>

	<body>

		<ul class="list_info">
			<li class="info_item" data_val="1">心达之家</li>
			<li class="info_item" data_val="2">CXQ</li>
		</ul>

	</body>

</html>