<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  
  <!--禁用OWIN启动-->
  <add key="owin:AutomaticAppStartup" value="false" />
  
  <!--图片上传根路径-->
  <add key="RootUrl" value="/Content/Source/Img/Upload/" />
  
  <!--图片上传缩略图根路径-->
  <add key="SmallUrl" value="/Content/Source/Img/Upload/Small/" />
  
  <!--图片上传水印图根路径-->
  <add key="WaterMakeUrl" value="/Content/Source/Img/Upload/WaterMake/" />

</appSettings>